*, 
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    margin-bottom: 68px;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.container {
    width: 458px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    overflow: hidden;
}
.header {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFF;
    z-index: 9;
}
.header__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.header__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__item::before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
}
.header__item--profile::before {
    background-image: url("../img/profile.svg");
}
.header__item--order::before {
    background-image: url("../img/order.svg");
}
.header__item--home::before {
    background-image: url("../img/home.svg");
}
.my-self {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-self__img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 20px; 
}

.my-self__btns {
    margin-left: auto;
    width: 70px;
    display: flex;
    justify-content: space-between;
}
.my-self__btn {
    background-color: transparent;
    border: none;
}
.hello {
    margin-bottom: 5px;
    color: #9c9c9c;
}
.search {
    position: relative;
}
.search__fild {
    width: 100%;
    padding: 10px;
    padding-left: 50px;
    border-radius: 5px;
    background-color: #f8f4f4;
    border: none;
    display: block;
}
.search__label {
    position: relative;
}
.search__img {
    position: absolute;
    top: 0;
    left: 15px;
}
.search__btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 6px;
    right: 30px;
}
.popular__list {
    display: flex;
    list-style: none;

}
.popular__item {
    width: 228px;
    margin-right: 20px;
    position: relative;
}
.popular__img {
    border-radius: 15px;
    display: block;
}
.popular__list-title {
    font-size: 18px;
    color: rgba(31, 41, 55, 1);
    padding: 10px;
}
.popular__text {
    color: rgba(31, 41, 55, 1);
    padding: 10px;
}
.popular-btn {
    position: absolute;
    background-color: #FFFFFF;
    z-index: 2;
    top: 20px;
    right: 18px;
}
.see-popular {
    border: none;
    background-color: transparent;
    color: rgba(50, 183, 104, 1);
    font-weight: 600;
}
.title-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.product__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.product__item {
    width: 175px;
    margin-right: 20px;
    position: relative;
}