*, 
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
   font-display: swap;
    font-weight: 400;
    src:
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
   font-display: swap;
    font-weight: 500;
    src:
         url('../fonts/inter-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
   font-display: swap;
    font-weight: 600;
    src:
         url('../fonts/inter-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
   font-display: swap;
    font-weight: 700;
    src:
         url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-800 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
   font-display: swap;
    font-weight: 800;
    src:
         url('../fonts/inter-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
body {
    position: relative;
    margin-bottom: 84px;
    font-family: 'Inter', sans-serif;
    color: rgba(31, 41, 55, 1);
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
.container {
    width: 458px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    overflow: hidden;
}
.header {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFF;
    z-index: 9;
    padding: 10px;
}
.header__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.header__item-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #9CA3AF;
    font-weight: 600;
}
svg {
    fill: #9CA3AF;
    height: 45px;
}
.home-svg {
    fill: #32B768;
}
.home-svg+span {
    color: #32B768;
}
.my-self {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-self__img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 20px; 
}

.my-self__btns {
    margin-left: auto;
    width: 70px;
    display: flex;
    justify-content: space-between;
}
.my-self__btn {
    background-color: transparent;
    border: none;
}
.hello {
    margin-bottom: 5px;
    color: #9c9c9c;
}
.search {
    position: relative;
}
.search__fild {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 50px;
    border-radius: 11px;
    background-color: #E6E7E9;
    border: none;
    display: block;
}
.search__label {
    position: relative;
}
.search__img {
    position: absolute;
    top: calc((100% - 16px) / 2);
    left: 15px;
}
.search__btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 6px;
    right: 30px;
}
.popular__list {
    display: flex;
    transition: 0.5s ease-in-out;
    transform: translateX(0);
    list-style: none;
}
.popular__item {
    margin-right: 20px;
    position: relative;
    
}
.popular__img {
    border-radius: 15px;
    display: block;
}
.popular__list-title {
    font-size: 20px;
    font-weight: 700;
    color: rgba(31, 41, 55, 1);
    padding: 10px;
}
.popular__text {
    color: #32B768;
    padding: 10px;
    font-weight: 600;
}
.popular__item:last-child {
    margin-right: 0;
}
.popular-btn {
    position: absolute;
    background-color: #FFFFFF;
    z-index: 2;
    top: 20px;
    right: 18px;
}
.see-popular {
    border: none;
    background-color: transparent;
    color:rgba(50, 183, 104, 1);
    font-weight: 600;
}
.title-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.product__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.popular__list-title {
    font-weight: 600;
}
.product__item {
    width: 175px;
    margin-right: 20px;
    position: relative;
}
.product__item:nth-child(2n){
    margin-right: 0;
}
.product__item:last-child {
    margin-right: 0;
}
.form-radio {
    padding: 10px;
    padding-bottom: 20px;
}
.fild-radio +span {
    border: 2px solid #32B768;
    color: #32B768;
    padding: 8px;
    border-radius: 15px;
    font-weight: 500;
    margin-right: 12px;
}
.fild-radio:checked +span {
    color: #FFFFFF;
    background-color: #32B768;
}
.img-products {
    display: flex;

}
.img-product {
    margin-right: 15px;
}
.img-product:last-child {
    margin-right: 0;
}
.btns {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 15px;
}
.btn-corusel {
    border: none;
    background-color: #9CA3AF;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: block;
}
.btns-item {
    margin-right: 5px;
}
.btns-item:last-child {
    margin-right: 0;
}
.btn-active {
    width: 25px;
    border-radius: 10px;
    background-color: #32B768;
}
.title-card {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}
.description-card {
    margin-bottom: 10px;
}
.description-card::before {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 1px;
    background-color: rgba(156, 163, 175, 0.5);
    content: '';
}
.card {
    position: relative;
}
.description-card::after {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 80px;
    z-index: 2;
    height: 1px;
    background-color: rgba(156, 163, 175, 0.5);
    content: '';
}
.text-card {
    margin-bottom: 15px;
}
.cound {
    display: flex;
    font-size: 18px;
    font-weight: 600;
}
.cound-btns {
    display: flex;
    align-items: center;
    color: #32B768;
    margin-left: 25px;
    height: 45px;
    background-color: #e2e1e1;
    width: 100px;
    border-radius: 12px;
    overflow: hidden;
}
.cound-btn {
    background-color: transparent;
    border: none;
    display: block;
    padding: 12px;
    color: #32B768;
    background-color: #e2e1e1;
    font-size: 18px;
    font-weight: 700;
}
.count-text {
    padding: 11px;
    background-color: #e2e1e1;
}
.price-card {
    display: block;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.price {
    font-size: 25px;
    margin-top: 5px;
    font-weight: 600;
    color: #1F2937;
}
.price-btn {
    background-color: #32B768;
    color: #FFFFFF;
    border: none;
    padding: 15px;
    font-size: 20px;
    width: 200px;
    border-radius: 15px;
}
.star {
    display: flex;
    align-items: center;
    padding: 10px;
}
.star-img {
    margin-right: 10px;
}
.imgs-card {
    position: relative;
}
.card-to {
    position: absolute;
    top: 30px;
    left: 30px;
    border: none;
    background-color: transparent;
}
/* profile-header */
.profile-header {
    /* text-align: center; */
    /* padding: 2rem 0; */
  }
  .profile-header_top {
    margin: 1rem 0;
  }
  .profile-header_top i {
    font-size: 2rem;
    display: inline-block;
    color: #32b768;
  }
  .profile-header_top h1 {
    display: inline-block;
    margin-left: 1rem;
  }
  .profile-header_bottom {
    text-align: center;
  }
  .profile-header_bottom img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  .profile-header_bottom h1 {
    margin-bottom: 1rem;
  }
  .profile-header_bottom p {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  /* profile-main */
  .profile-main ul {
    margin: 2rem 0;
  }
  .profile-main ul li {
    padding: 20px 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    gap: 10px;
  }
  .profile-main ul li i {
    text-align: right;
    font-size: 20px;
    /* padding-right: 20px; */
  }
  /* .profile-main ul li i {
      display: inline-block;
  }
  .profile-main ul li p {
      display: inline-block;
  } */