*, 
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    position: relative;
}
a {
    text-decoration: none;
}
.container {
    width: 458px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header {
    position: fixed;
    width: 100%;
    bottom: 0;
}
.header__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.header__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__item::before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
}
.header__item--profile::before {
    background-image: url("../img/profile.svg");
}
.header__item--order::before {
    background-image: url("../img/orders.svg");
}
.header__item--home::before {
    background-image: url("../img/profile.svg");
}
.my-self {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-self__img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 20px; 
}

.my-self__btns {
    margin-left: auto;
    width: 70px;
    display: flex;
    justify-content: space-between;
}
.my-self__btn {
    background-color: transparent;
    border: none;
}
.hello {
    margin-bottom: 5px;
}
.search__fild {
    width: 100%;
    padding: 5px;
    padding-left: 50px;
    border-radius: 5px;
}
.search__label {
    position: relative;
}
.search__img {
    position: absolute;
    top: 0;
    left: 15px;
}